<div class="map-div">
  <sebm-google-map [disableDefaultUI]="true" [latitude]="lat" [longitude]="lng" [styles]="styles" [zoom]="zoom">
    <sebm-google-map-marker *ngFor="let message of messages" [latitude]="message.Lat" [longitude]="message.Lng" [iconUrl]="iconUrl">
      <sebm-google-map-info-window>
        {{message.MessageText}}
        <br />
        Likes: {{message.LikesNum}}
        <br />
        Dislikes: {{message.DislikeNum}}
      </sebm-google-map-info-window>
    </sebm-google-map-marker>
  </sebm-google-map>
</div>